.spinner{
  width: 80px;
  height: 80px;
  border: 3px solid #ddd;
  border-top: 4px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spinner 1s infinite linear;
}

@keyframes spinner{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#overlay{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  transition: all .4s;
  z-index: 999;
}