
.comment {
  display: flex;
  padding: 1rem;
  align-items: center;

  &__text {
    padding-left: 2rem;

    & > span { color: #a09494 }
  }
}

.avatar {
  display: inline-block;

  &__box {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;

    & > img {
      max-width: 100%;
      object-fit: cover;
    }

    &--form {
      width: 30px;
      height: 30px;
    }
  }
}